Repository abdulxbari/hedera-hashgraph-Hedera-Network-Services-Codebase, changes with the owners that .github/CODEOWNERS names for each.
All owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-services, @hashgraph/devops, @hashgraph/platform-hashgraph, @kimbor, @povolev15, @hashgraph/hedera-base, @iwsimon, @hashgraph/hedera-smart-contracts, @tinker-michaelj, @mhess-swl, @Neeharika-Sompalli, @hashgraph/platform-data, @hashgraph/platform-base, @hashgraph/platform-architects

.github/CODEOWNERS:

###################################
##### Global Protection Rule ######
###################################
# NOTE: This rule is overriden by the more specific rules below. This is the catch-all rule for all files not covered by the more specific rules below.
*                                               @hashgraph/release-engineering @hashgraph/release-engineering-managers

#########################
##### Hedera Node  ######
#########################

# Hedera Node Root Protections
/hedera-node/                                   @hashgraph/hedera-services
/hedera-node/README.md                          @hashgraph/hedera-services @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Deployments - Configuration & Grafana Dashboards
/hedera-node/configuration/**                   @hashgraph/release-engineering @hashgraph/devops @hashgraph/hedera-services @hashgraph/platform-hashgraph
/hedera-node/infrastructure/**                  @hashgraph/release-engineering @hashgraph/devops @hashgraph/hedera-services

# Hedera Node Docker Definitions
/hedera-node/docker/                            @hashgraph/hedera-services @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Hedera Node Modules
/hedera-node/hedera-mono-service/               @hashgraph/hedera-services
/hedera-node/hapi*/                             @hashgraph/hedera-services
/hedera-node/hedera-admin*/                     @hashgraph/hedera-services @kimbor @povolev15
/hedera-node/hedera-app*/                       @hashgraph/hedera-base
/hedera-node/hedera-consensus*/                 @hashgraph/hedera-services @povolev15 @iwsimon
/hedera-node/hedera-evm*/                       @hashgraph/hedera-smart-contracts
/hedera-node/hedera-file*/                      @hashgraph/hedera-services @povolev15 @iwsimon
/hedera-node/hedera-network*/                   @hashgraph/hedera-services @kimbor @povolev15
/hedera-node/hedera-schedule*/                  @hashgraph/hedera-services @iwsimon @kimbor
/hedera-node/hedera-smart-contract*/            @hashgraph/hedera-smart-contracts @tinker-michaelj
/hedera-node/hedera-token*/                     @hashgraph/hedera-services @mhess-swl @Neeharika-Sompalli
/hedera-node/hedera-util*/                      @hashgraph/hedera-services
/hedera-node/hedera-staking*/                   @hashgraph/hedera-services
/hedera-node/test-clients/                      @hashgraph/hedera-services
/hedera-node/**/module-info.java                @hashgraph/hedera-services @hashgraph/release-engineering @hashgraph/release-engineering-managers

#########################
##### Platform SDK ######
#########################

# Platform SDK Root Protections
/platform-sdk/                                  @hashgraph/platform-hashgraph @hashgraph/platform-data @hashgraph/platform-base @hashgraph/platform-architects
/platform-sdk/README.md                         @hashgraph/platform-hashgraph @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Platform SDK Modules
/platform-sdk/platform-apps/                    @hashgraph/platform-hashgraph
/platform-sdk/swirlds-cli/                      @hashgraph/platform-hashgraph
/platform-sdk/swirlds-common/                   @hashgraph/platform-hashgraph @hashgraph/platform-base @hashgraph/platform-data
/platform-sdk/swirlds-config-*/                 @hashgraph/platform-base
/platform-sdk/swirlds-fchashmap/                @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-fcqueue/                  @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-jasperdb/                 @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-logging/                  @hashgraph/platform-hashgraph
/platform-sdk/swirlds-merkle/                   @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-platform-core/            @hashgraph/platform-hashgraph
/platform-sdk/swirlds-unit-tests/common/        @hashgraph/platform-hashgraph @hashgraph/platform-base
/platform-sdk/swirlds-unit-tests/core/          @hashgraph/platform-hashgraph
/platform-sdk/swirlds-unit-tests/structures/    @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/swirlds-virtualmap/               @hashgraph/platform-data @hashgraph/platform-architects
/platform-sdk/**/module-info.java               @hashgraph/platform-hashgraph @hashgraph/release-engineering @hashgraph/release-engineering-managers

#########################
#####  Core Files  ######
#########################

# NOTE: Must be placed last to ensure enforcement over all other rules

# Protection Rules for Github Configuration Files and Actions Workflows
/.github/                                       @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Legacy Maven project files
**/pom.xml                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Gradle project files and inline plugins
/gradle/                                        @hashgraph/release-engineering @hashgraph/release-engineering-managers
gradlew                                         @hashgraph/release-engineering @hashgraph/release-engineering-managers
gradlew.bat                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/buildSrc/                                    @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/gradle.*                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/*.gradle.*                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Self-protection for root CODEOWNERS files (this file should not exist and should definitely require approval)
/CODEOWNERS                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Protect the repository root files
/README.md                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/LICENSE                                      @hashgraph/release-engineering @hashgraph/release-engineering-managers

# CodeCov configuration
**/codecov.yml                                  @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Git Ignore definitions
**/.gitignore                                   @hashgraph/release-engineering @hashgraph/release-engineering-managers
**/.gitignore.*                                 @hashgraph/release-engineering @hashgraph/release-engineering-managers

# Legacy CircleCI configuration
.circleci.settings.xml                          @hashgraph/release-engineering @hashgraph/release-engineering-managers
/.circleci/                                     @hashgraph/release-engineering @hashgraph/release-engineering-managers

save
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/TransactionSubmitter.java
Owners: @hashgraph/platform-hashgraph

Spotless
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/virtualmerkle/state/VirtualMerkleStateInitializer.java
Owners: @hashgraph/platform-hashgraph

Fixing things adding tests
  hedera-node/hapi/src/main/java/module-info.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/info/NodeInfo.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/BlockRecordInfo.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/SingleTransactionRecord.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/SingleTransactionRecordBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/Hedera.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/InfoInjectionModule.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/MonoNodeInfo.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/RecordManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/RecordStreamConfig.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileFormat.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileFormatV6.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileFormatV7.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SerializedSingleTransactionRecord.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SidecarFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SignatureFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerBase.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerConcurrent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/workflows/handle/HandleWorkflow.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/RecordStreamTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/RecordTestData.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordFileReaderV6.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordStreamV6Test.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerSingleThreaded.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-mono-service/src/main/java/com/hedera/node/app/service/mono/stream/RecordStreamFileWriter.java
  hedera-node/hedera-mono-service/src/main/java/com/hedera/node/app/service/mono/stream/RecordStreamObject.java
Owners: @hashgraph/hedera-services, @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-base

Added test record data
  hedera-node/hedera-app/src/test/resources/record-files/2023-05-01T00_00_24.038693760Z.json
Owners: @hashgraph/hedera-base

Fix after rebase and moved to using Google Jimfs file system for faster tests
  buildSrc/src/main/kotlin/com.hedera.hashgraph.jpms-modules.gradle.kts
  hedera-node/hedera-app/build.gradle.kts
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileFormatV6.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SidecarFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerBase.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerConcurrent.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/RecordStreamTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordFileFormatV7.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerSingleThreaded.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerTest.java
  settings.gradle.kts
Owners: @hashgraph/release-engineering, @hashgraph/release-engineering-managers, @hashgraph/hedera-base

Progress and tests pass :-)
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/BlockRecordInfo.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/SingleTransactionRecord.java
  hedera-node/hedera-app-spi/src/main/java/com/hedera/node/app/spi/records/SingleTransactionRecordBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/HederaInjectionComponent.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/InfoInjectionModule.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/info/MonoNodeInfo.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManager.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordService.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/RecordStreamConfig.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/RecordsInjectionModule.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/SingleTransactionRecordBuilder.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileFormat.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileFormatV6.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/RecordFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SerializedSingleTransactionRecord.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SidecarFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SignatureFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerBase.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerConcurrent.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/BlockRecordManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/RecordStreamTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/RecordTestData.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordFileFormatV7.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordFileReaderV6.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordStreamV6Test.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordTestData.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerSingleThreaded.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/workflows/handle/HandleWorkflowTest.java
  hedera-node/hedera-mono-service/src/main/java/com/hedera/node/app/service/mono/stream/RecordStreamFileWriter.java
Owners: @hashgraph/hedera-base, @hashgraph/hedera-services

Spotless cleanup
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerBase.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerConcurrent.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/BlockRecordManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordTestData.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerTest.java
Owners: @hashgraph/hedera-base

Much better testing
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/BlockRecordManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordFileReaderV6.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordStreamV6Verifier.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordTestData.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerTest.java
Owners: @hashgraph/hedera-base

Lots more testing and fixing, happy now
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/BlockRecordManagerImpl.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/SidecarFileWriter.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerBase.java
  hedera-node/hedera-app/src/main/java/com/hedera/node/app/records/files/StreamFileProducerConcurrent.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/BlockRecordManagerTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/RecordStreamTest.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordStreamV6Test.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordStreamV6Verifier.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/RecordTestData.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerSingleThreaded.java
  hedera-node/hedera-app/src/test/java/com/hedera/node/app/records/files/StreamFileProducerTest.java
  hedera-node/hedera-app/src/test/resources/record-files/sidecar/2023-04-21T08_14_02.002040003Z_01.json
Owners: @hashgraph/hedera-base

Update platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolMain.java
  platform-sdk/platform-apps/tests/PlatformTestingTool/src/main/java/com/swirlds/demo/platform/PlatformTestingToolMain.java
Owners: @hashgraph/platform-hashgraph

fix: hedera-node/test-clients/yahcli/Dockerfile to reduce vulnerabilities
  hedera-node/test-clients/yahcli/Dockerfile
Owners: @hashgraph/hedera-services

fix: hedera-node/test-clients/yahcli/Dockerfile to reduce vulnerabilities
  hedera-node/test-clients/yahcli/Dockerfile
Owners: @hashgraph/hedera-services
